[submodule "practice-tools"]
	path = practice-tools
	url = https://github.com/luqui/practice-tools.git
[submodule "harmonic-composer"]
	path = harmonic-composer
	url = https://github.com/luqui/harmonic-composer
